.progress {
  position: relative;
  width: 100%;
  height: 0.5rem;
  overflow: hidden;
  background-color: var(--link-color);
  border-radius: 9999px;

  &__indicator {
    height: 100%;
    background-color: var(--link-color-accent);
    transition: transform 0.2s;
  }

  &--indeterminate {
    .progress__indicator {
      width: 50%;
      animation: indeterminate 1s infinite linear;
    }
  }
}

@keyframes indeterminate {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(200%);
  }
}
